@model MvCDtabase.Models.Student

@{
    ViewBag.Title = "Edit";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <!-- Hidden ID -->
    @Html.HiddenFor(model => model.ID)

    <div class="form-group">
        @Html.LabelFor(m => m.FirstName)
        @Html.EditorFor(m => m.FirstName)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.LastName)
        @Html.EditorFor(m => m.LastName)
    </div>

    <input type="submit" value="Save" class="btn btn-primary" />
}
